<!DOCTYPE html>
<meta charset="utf-8">

<!-- Adapted from crossfilter example -->
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<style>

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  width: 960px;
  min-height: 2000px;
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#E-chart {
  width: 420px;
}

#MET-chart {
  width: 420px;
}

#phi-chart {
  width: 420px;
}

#phiMET-chart {
  width: 420px;
}

#pt-chart {
  width: 420px;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

</style>

<div id="body">

<p><div class="container" id="dropdown"></div></p>
<p><div class="container" id="name"></div></p>
<p><div class="container" id="buttons"></div></p>

<script type="text/template" id="dataset-dropdown-template">
  <div class="btn-group">
  <a class="btn">Select a dataset</a>
  <a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  <ul class="dropdown-menu" id="dataset-ul"></ul>
  </div>
</script>
    
<script type="text/template" id="dataset-li-template">
  <li id='<%= dataset.name %>'><a href="#<%= dataset.name %>">  <%= dataset.name %> </a></li>
</script>

<script type="text/template" id="parameter-button-template">
  <button type='button' data-toggle='button' id=<%= parameter.name %> class='btn btn-large parameter-select'><%= parameter.name %></button>
</script>

<script type="text/template" id="parameter-buttons-template">
  <% _.each(parameters, function(parameter) { %>
    <button type='button' data-toggle='button' id=<%= parameter.name %> class='btn btn-large parameter-select'><%= parameter.name %></button>
  <% }); %>
</script>

<!--
<ul>
<li><a href="javascript:filter([[50,100],null,null,null,null])">E [GeV]</a></li>
<li><a href="javascript:filter([null,[30,50],null,null,null])">MET [GeV]</a></li>
<li><a href="javascript:filter([null,null,[-Math.PI*0.25,Math.PI*0.25],null,null])">phi [radians]</a></li>
<li><a href="javascript:filter([null,null,null,[-Math.PI*0.25,Math.PI*0.25],null])">phiMET [radians]</a></li>
<li><a href="javascript:filter([null,null,null,null,[50,100]])">pt [GeV]</a></li>
</ul>
-->


<div id="charts">
  <div id="E-chart" class="chart">
    <div class="title">E [GeV]</div>
  </div>
  <div id="MET-chart" class="chart">
    <div class="title">MET [GeV]</div>
  </div>
  <div id="phi-chart" class="chart">
    <div class="title">phi [radians]</div>
  </div>
  <div id="phiMET-chart" class="chart">
    <div class="title">phiMET [radians]</div>
  </div>
  <div id="pt-chart" class="chart">
    <div class="title">pt [GeV]</div>
  </div>
</div>

</div>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>
      
<script src="../js/underscore-min.js"></script>
<script src="../js/backbone-min.js"></script>

<script src="../js/crossfilter.v1.min.js"></script>
<script src="../js/d3.v2.min.js"></script>

<script src="crossfilter.js"></script>

<script type="text/javascript">


d3.json("http://localhost:8000/data/Wenu.json", function(events) {

  console.log(events.length);

  var formatNumber = d3.format(",d");

  events.forEach(function(d, i) {
    d.E = +d.E;
    d.MET = +d.MET;
    d.phi = +d.phi;
    d.phiMET = +d.phiMET;
    d.pt = +d.pt;
  }); 

  var nestByPt = d3.nest()
    .key(function(d) {return d.pt});

  var event = crossfilter(events),
    all = event.groupAll(),
    E = event.dimension(function(d) {return d.E;}),
    Es = E.group(function(d) {return Math.floor(d/12.5)*12.5;}),
    MET = event.dimension(function(d) {return d.MET;}),
    METs = MET.group(function(d) {return Math.floor(d/5)*5;}),
    phi = event.dimension(function(d) {return d.phi;}),
    phis = phi.group(function(d) {return Math.floor(d/(Math.PI*0.05))*(Math.PI*0.05);}),
    phiMET = event.dimension(function(d) {return d.phiMET;}),
    phiMETs = phiMET.group(function(d) {return Math.floor(d/(Math.PI*0.05))*(Math.PI*0.05);}),
    pt = event.dimension(function(d) {return d.pt;}),
    pts = pt.group(function(d) {return Math.floor(d/3.75)*3.75;});

  var charts = [
    barChart()
        .dimension(E)
        .group(Es)
      .x(d3.scale.linear()
        .domain([0, 500])
        .rangeRound([0,400])),

    barChart()
        .dimension(MET)
        .group(METs)
      .x(d3.scale.linear()
        .domain([0, 200])
        .rangeRound([0,400])),

    barChart()
        .dimension(phi)
        .group(phis)
      .x(d3.scale.linear()
        .domain([-Math.PI, Math.PI])
        .rangeRound([0,400])),

    barChart()
        .dimension(phiMET)
        .group(phiMETs)
      .x(d3.scale.linear()
        .domain([-Math.PI, Math.PI])
        .rangeRound([0,400])),

    barChart()
        .dimension(pt)
        .group(pts)
      .x(d3.scale.linear()
        .domain([0,150])
        .rangeRound([0,400]))
  ];

  var chart = d3.selectAll(".chart")
      .data(charts)
      .each(function(chart) { chart.on("brush", renderAll).on("brushend", renderAll); });

  renderAll();
 
  function render(method) {
    d3.select(this).call(method);
  }

 
  function renderAll() {
    chart.each(render);
    d3.select("#active").text(formatNumber(all.value()));
  }

  window.filter = function(filters) {
    filters.forEach(function(d, i) { charts[i].filter(d); });
    renderAll();
  };

  window.reset = function(i) {
    charts[i].filter(null);
    renderAll();
  };

  function barChart() {
    if (!barChart.id) barChart.id = 0;

    var margin = {top: 10, right: 10, bottom: 20, left: 10},
        x,
        y = d3.scale.linear().range([200, 0]),
        id = barChart.id++,
        axis = d3.svg.axis().orient("bottom"),
        brush = d3.svg.brush(),
        brushDirty,
        dimension,
        group,
        round;

    function chart(div) {
      var width = x.range()[1],
          height = y.range()[0];

          y.domain([0, group.top(1)[0].value]);

      div.each(function() {

        var div = d3.select(this),
            g = div.select("g");

        if (g.empty()) {
          div.select(".title").append("a")
              .attr("href", "javascript:reset(" + id + ")")
              .attr("class", "reset")
              .text("reset")
              .style("display", "none");

          g = div.append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          g.append("clipPath")
              .attr("id", "clip-" + id)
            .append("rect")
              .attr("width", width)
              .attr("height", height);

          g.selectAll(".bar")
              .data(["background", "foreground"])
            .enter().append("path")
              .attr("class", function(d) { return d + " bar"; })
              .datum(group.all());

          g.selectAll(".foreground.bar")
              .attr("clip-path", "url(#clip-" + id + ")");

          g.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + height + ")")
              .call(axis);

          var gBrush = g.append("g").attr("class", "brush").call(brush);
          gBrush.selectAll("rect").attr("height", height);
          gBrush.selectAll(".resize").append("path").attr("d", resizePath);
        }

        if (brushDirty) {
          brushDirty = false;
          g.selectAll(".brush").call(brush);
          div.select(".title a").style("display", brush.empty() ? "none" : null);
          if (brush.empty()) {
            g.selectAll("#clip-" + id + " rect")
                .attr("x", 0)
                .attr("width", width);
          } else {
            var extent = brush.extent();
            g.selectAll("#clip-" + id + " rect")
                .attr("x", x(extent[0]))
                .attr("width", x(extent[1]) - x(extent[0]));
          }
        }

        g.selectAll(".bar").attr("d", barPath);
      });

      function barPath(groups) {
        var path = [],
            i = -1,
            n = groups.length,
            d;

       
        while (++i < n) {
          d = groups[i];

          

          path.push("M", x(d.key), ",", height, "V", y(d.value), "h9V", height);
        }
        return path.join("");
      }

      function resizePath(d) {
        var e = +(d == "e"),
            x = e ? 1 : -1,
            y = height / 3;
        return "M" + (.5 * x) + "," + y
            + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
            + "V" + (2 * y - 6)
            + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
            + "Z"
            + "M" + (2.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8)
            + "M" + (4.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8);
      }
    }

    brush.on("brushstart.chart", function() {
      var div = d3.select(this.parentNode.parentNode.parentNode);
      div.select(".title a").style("display", null);
    });

    brush.on("brush.chart", function() {
      var g = d3.select(this.parentNode),
          extent = brush.extent();
      if (round) g.select(".brush")
          .call(brush.extent(extent = extent.map(round)))
        .selectAll(".resize")
          .style("display", null);
      g.select("#clip-" + id + " rect")
          .attr("x", x(extent[0]))
          .attr("width", x(extent[1]) - x(extent[0]));
      dimension.filterRange(extent);
    });

    brush.on("brushend.chart", function() {
      if (brush.empty()) {
        var div = d3.select(this.parentNode.parentNode.parentNode);
        div.select(".title a").style("display", "none");
        div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
        dimension.filterAll();
      }
    });

    chart.margin = function(_) {
      if (!arguments.length) return margin;
      margin = _;
      return chart;
    };

    chart.x = function(_) {
      if (!arguments.length) return x;
      x = _;
      axis.scale(x);
      brush.x(x);
      return chart;
    };

    chart.y = function(_) {
      if (!arguments.length) return y;
      y = _;
      return chart;
    };

    chart.dimension = function(_) {
      if (!arguments.length) return dimension;
      dimension = _;
      return chart;
    };

    chart.filter = function(_) {
      if (_) {
        brush.extent(_);
        dimension.filterRange(_);
      } else {
        brush.clear();
        dimension.filterAll();
      }
      brushDirty = true;
      return chart;
    };

    chart.group = function(_) {
      if (!arguments.length) return group;
      group = _;
      return chart;
    };

    chart.round = function(_) {
      if (!arguments.length) return round;
      round = _;
      return chart;
    };

    return d3.rebind(chart, brush, "on");
  }
});

</script>
