<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CMS e-Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrapSwitch.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/elab.css"/>
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://www.i2u2.org">I2U2</a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="../index.html"><i class="icon-home icon-white"></i> CMS e-Lab Home</a></li>
              <li class="active"><a href="#datasets-page"><i class="icon-road icon-white"></i> Explore</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>   

    <div class="container" id="main">
    
    <div class="container" id="datasets"></div>
    <div class="container" id="parameters"></div>
    <div class="container" id="plots"></div>
    
    <script type="text/template" id="dataset-page-template">
      <ul class="breadcrumb">
      <li class="active">Select dataset</li>
      </ul>
      
      <ul class="nav nav-tabs">
      <li class="active"><a data-target="#dataset-views" data-toggle="tab">Datasets</a></li>
      <li><a data-target="#dataset-information" data-toggle="tab"><i class="icon-question-sign"></i> Information</a></li>
      </ul>

      <div class="tab-content">
      <div class="container tab-pane" id="dataset-views">
        <div class="container" id="dataset-list-view"></div>
        <div class="container" id="dataset-image-view"></div>
       </div>
      <div class="container tab-pane" id="dataset-information">
      <ul>
      <li><a href="http://pdglive.lbl.gov/Rsummary.brl?nodein=S003&exp=Y&inscript=Y&sub=Yr&return=S003,S004,S035">electron</a></li>
      <li><a href="http://pdglive.lbl.gov/Rsummary.brl?nodein=S004&exp=Y&inscript=Y&sub=Yr&return=S003,S004,S035">muon</a></li>
      <li><a href="http://pdglive.lbl.gov/Rsummary.brl?nodein=M070&exp=Y&inscript=Y&sub=Yr&return=MXXX025">J/&#0968</a></li>
      <li><a href="http://pdglive.lbl.gov/Rsummary.brl?nodein=S044&exp=Y">Z</a></li>
      <li><a href="http://pdglive.lbl.gov/Rsummary.brl?nodein=S043&exp=Y">W</a></li>
      <li><a href="http://pdglive.lbl.gov/Rsummary.brl?nodein=S066&exp=Y">neutrinos</a></li>
      </ul>
      </div>
      </div>
    </script>

    <script type="text/template" id="dataset-list-template">
      <h3>The following datasets are available:</h3>
      <ul>
      <% _.each(datasets, function(dataset) { %>
        <li><%= dataset.description %></li>
      <% }); %>
      </ul>
    </script>

    <script type="text/template" id="dataset-image-template">
      <h3>Click on a diagram to select a dataset:</h3>
      <% _.each(datasets, function(dataset) { %>
        <a class='dataset-image' href="#parameters-page/<%= dataset.name %>" id=<%= dataset.name %>>
        <img rel='popover' src=<%= dataset.image %> img-rounded img-polaroid></img>
        </a>
      <% }); %>
    </script>
    
    <script type="text/template" id="parameter-page-template">
      <ul class="breadcrumb">
      <li><a href="#datasets-page">Select dataset</a><span class="divider">/</span></li>
      <li class="active">Select parameter</li>
      </ul>
      
      <ul class="nav nav-tabs">
      <li class="active"><a data-target="#parameter-views" data-toggle="tab">Parameters</a></li>
      <li><a data-target="#parameter-information" data-toggle="tab"><i class="icon-question-sign"></i> Information</a></li>
      </ul>

      <div class="tab-content">
      <div class="container tab-pane" id="parameter-views">
        <h3>Select one or more parameters:</h3>
        <table><tr id="parameter-button-row"></tr></table>
        <p>
        <div class="row-fluid">
        <div class="span2">         
        <a href="#plots-page" class="btn btn-block">Plot parameter(s) <i class="icon-chevron-right"></i></a>
        </div>
        </div>
        </p>
      </div>
      <div class="container tab-pane" id="parameter-information"></div>
    </script>

    <script type="text/template" id="parameter-button-template">
      <button type='button' data-toggle='button' id=<%= parameter.name %> class='btn btn-large parameter-select'><%= parameter.name %></button>
    </script>
  
    <script type="text/template" id="parameters-table-template">
      <table rel="popover" id="parameter-table" class="table table-bordered table-striped">
      <thead>
      <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Description</th>
      </tr>
      </thead>
      <tbody id="parameter-body"></tbody>
      </table>
    </script>

    <script type="text/template" id="parameter-row-template">
      <tr>
      <td><%= parameter.name %></td>
      <td><%= parameter.unit %></td>
      <td><%= parameter.description %></td>
      </tr>
    </script>

    <script type="text/template" id="plot-page-template">
      <ul class="breadcrumb">
      <li><a href="#datasets-page">Select dataset</a><span class="divider">/</span></li>
      <li><a href="#parameters-page">Select parameter</a><span class="divider">/</span></li>
      <li class="active">Plot parameter</li>
      </ul>

      <ul class="nav nav-tabs">
      <li><a data-target="#flot-view" data-toggle="tab">Flot plots</a></li>
      <li class="active"><a data-target="#plot-information" data-toggle="tab"><i class="icon-question-sign"></i> Information</a></li>
      </ul>

      <div class="tab-content">
      <div class="container tab-pane" id="flot-view"></div>
      <div class="container tab-pane" id="plot-information">
        <ul>
        <li><a href="https://github.com/flot/flot.github.com">Flot</a></li>
        </ul>
      </div>
      </div>
    </script>

    <script type="text/template" id="flot-template">
      <div id="<%= plot.title %>">  
      <div class="plot">

      <div class="plot-controls">
      <table>
      <tr>

      <td>
      <form class="navbar-form pull-left">
      Y Max:
      <input type="text" class="span1">
      <button type="button" id="ymax" class="btn">Set</button>
      </form>
      </td>

      <td><span class="span1"></td>

      <td>
      <button type="button" class="btn" id="logx" data-toggle="button">Log X</button>
      <button type="button" class="btn" id="logy" data-toggle="button">Log Y</button>
      </td>

      <td><span class="span1"></td>

      <td>
      <form class="navbar-form pull-left">
      Bin Width:
      <input type="text" class="span1">
      <button type="submit" id="binwidth" class="btn">Set</button>
      </form>
      </td>

      </tr>
      </table>
      </div>

      <div class="title"></div>
      <div class="placeholder"></div>
    
      </div>
      </div>
    </script>

    </div> <!-- End of full container -->

    <script src="../assets/js/jquery.js"></script>

    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
      
    <script src="../js/underscore-min.js"></script>
    <script src="../js/backbone-min.js"></script>
    <script src="../js/jquery.flot.js"></script>

    <script src="elab.js"></script>
  </body>
</html>
